.loginContainer{
    height: 100vh;
    width: 100%;
    background: linear-gradient(100deg, rgb(117, 12, 26) 50%, rgb(246, 255, 168) 50%);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.loginQuotesContainer{
    width: 40%;
    text-align: center;
}

.loginQuotesContainer p{
    color: white;
    margin: 30px;
    font-size: 1.3rem;
}

.loginFormContainer{
    width: 40%;
}

.loginCard{
    width: 60%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgb(87, 87, 87);
}

.loginCard h1{
    margin: 0;
}

.loginForm{
    width: 100%;
}

.loginForm button{
    width: 88%;
    font-size: 1.3em;
    height: 70px;
    margin: 10px;
    border-radius: 30px;
    border: 2px solid black;
    background-color: rgb(246, 255, 168);
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
}

.loginForm button:hover{
    background: black;
    color: white;
    transform: scale(1.1);
}

.loginForm button:active{
    background: rgb(246, 255, 168);
    color: black;
    border: 4px solid black;
    transform: scale(1);
}

.loginForm input{
    width: 80%;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid rgb(87, 87, 87);
    margin: 10px;
    font-size: 1.3em;
    background: rgb(246, 255, 168);
}

.loginForm input:focus{
    outline: 0;
    box-shadow: 3px 3px 5px rgb(87, 87, 87);
}

.inputError{
    background-color: rgb(255, 184, 184);
    border: 2px solid red;
    color: red;
    width: 60%;
    margin: auto;
    font-size: 1.2em;
    border-radius: 10px;
    padding: 10px;
}